<!DOCTYPE html>
<html>

<head>
  <title>OMEBE</title>
  <meta charset="utf-8">
  <!-- Grab jQuery -->
  <script src="http://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
  <script src="jscolor.min.js"></script>

  <!-- Grab bootstrap from the cdn -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  <!--google web font-->
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

  <link rel="stylesheet" href="style.css" />
  <!--<link rel="stylesheet" href="stylesass.css" />-->
  <script src="socket.io/socket.io.js"></script>
</head>

<body>
<header>
  <nav class="nav navbar">
    <div id="loginBar">
      <form id="loginForm" method="post" accept-charset="utf-8" class="js-ajax navbar-form navbar-left">
        <input type="hidden" name="route" value="login" />
        <div class="form-group">
          <input id="loginUsername" type="text" name="username" maxlength="64" placeholder="username" class="form-control" />
        </div>
        <div class="form-group">
          <input id="loginPassword" type="password" name="password" maxlength="64" placeholder="password" class="form-control" />
        </div>
        <input id="logInBtn" type="submit" value="Login" class="btn"/>
        <button id="registerClose" type="button" class="btn wButton" data-toggle="modal" data-target="#registerModal">Register</button>
      </form>
    </div>
    <div class="navbar-header">
      <a href="#" class="logo"><img id="omebe-logo" src="./logo.png" /></a>
    </div>
  </nav>

  <!-- Registration Modal -->
  <div id="welcome" class="container">
    <div id="registerModal" class="modal fade">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">X</button>
            <h4 class="modal-title">Create an Account</h4>
          </div>
          <form id="registrationForm" method="post" accept-charset="utf-8" class="js-ajax form-inline">
            <input type="hidden" name="route" value="signup" />
            <div class="modal-body">
              <div class="form-group">
                <input type="text" name="username" id="username" placeholder="username" maxlength="64" class="form-control px3margin" />
              </div>
              <div class="form-group">
                <input type="password" name="password" id="password" placeholder="password" maxlength="64" class="form-control px3margin" />
              </div>
              <div class="form-group">
                <input type="password" id="passwordConfirm" placeholder="confirm password" maxlength="64" class="form-control px3margin" />
              </div>
            </div>
            <div id="registrationError"></div>
            <div id="registrationModalBtn" class="modal-footer">
              <input id="registerBtn" type="submit" value="Register" class="btn wButton" />
              <input id="submitRegistration" type="button" class="btn wButton" data-dismiss="modal" value="Close" style="display:none" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /Registration Modal -->

</header>
<div id='board-container'>
  <div id="canvass-container">
    <div id="sidebar">
      <div id='toolbox'>
        <div id='color-picker-container'>
          <div class="btn-container">
            <button id="color-picker"; class="jscolor {valueElement:null,value:'rgb(25, 0, 255)'}"></button>
          </div>
        </div>
        <div class="range-slider">
          <input id="lineSize" class="range-slider__range" type="range" value="5" min="1" max="30">
          <span class="range-slider__value">0</span>
        </div>
      </div>
      <div id="advert">
        <h3>Want to get more out of</h3>
        <h1>Omebe?</h1>
        <h2>Register today!</h2>
        <div id="advert-text"></div>
      </div>
    </div>
    <div id="canvass-box">
      <canvas id="drawing" height="800px" width="800px"></canvas>
    </div>
    <!--<div id="video-container">
      <div class="video-box">
        <video id="local-video" class="video" autoplay></video>
        <script src="rtcClient.js"></script>
      </div>
      <div class="video-box">
        <video id="remote-video" class="video" autoplay></video>
        &lt;!&ndash;<script src = "rtcClient.js"></script>&ndash;&gt;
      </div>
    </div>
  </div>-->
  </div>
</div>
</body>
<script src="client.js"></script>
</html>