<!DOCTYPE html>
<html>

<head>
  <title>OMEBE</title>
  <meta charset="utf-8">
  <!-- Grab jQuery -->
  <script src="http://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
  <script src="jscolor.min.js"></script>

  <!-- Grab bootstrap from the cdn -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  <!--google web font-->
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

  <link rel="stylesheet" href="style.css" />
  <!--<link rel="stylesheet" href="stylesass.css" />-->
  <script src="socket.io/socket.io.js"></script>
  <script>
    let namespace = <%- JSON.stringify(user_id) %>;
    let username = <%- JSON.stringify(username) %>;
    let user_id  = <%- JSON.stringify(user_id) %>;
    let boards;
  </script>
  <!--<script></script>-->
</head>

<body>
<header>
  <nav class="nav navbar">
    <div id="userContainer">
      <div id="userText">Welcome to Omebe, <%= username %>!</div>
    </div>
    <button id="logOutBtn" type="button" class="btn wButton">Logout</button>
    <div class="navbar-header">
      <a href="#" class="logo"><img id="omebe-logo" src="./logo.png" /></a>
    </div>
  </nav>

</header>

<!-- Load Board Modal -->
<div id="welcome" class="container">
  <div id="loadBoardModal" class="modal fade">
  </div>
</div>


<div id='board-container'>
  <div id="canvass-container">
    <div id="sidebar">
      <div id='toolbox'>
        <div id='color-picker-container'>
          <div class="btn-container">
            <button id="color-picker"; class="jscolor {valueElement:null,value:'rgb(25, 0, 255)'}"></button>
          </div>
        </div>
        <div class="range-slider">
          <input id="lineSize" class="range-slider__range" type="range" value="5" min="1" max="30">
          <span class="range-slider__value">0</span>
        </div>
      </div>
      <div id="userPanel">
        <div id="saveBoard"><button id="saveBoardBtn" type="button" class="btn userBtn" data-toggle="modal" data-target="#saveBoardModal">Save Board</button></div>
        <div id="loadBoard"><button id="loadBoardBtn" type="button" class="btn userBtn" data-toggle="modal" data-target="#loadBoardModal">Load Board</button></div>
        <div id="shareBoard"><button id="shareBoardBtn" type="button" class="btn userBtn" data-toggle="modal" data-target="#shareBoardModal">Share Board</button></div>
        <div id="invitations"><button id="invitationsBtn" type="button" class="btn userBtn" data-toggle="modal" data-target="#invitationsModal">Invitations</button></div>
      </div>
    </div>
    <div id="canvass-box">
      <canvas id="drawing" height="800px" width="800px"></canvas>
    </div>
  </div>
</div>
</body>
  <script src="client.js"></script>
</html>
