* { 
  margin: 0;
  padding: 0;
}

body, html{
  width: 100%;
  height: 100%;
  background-image: url('blue-sky-bg.jpg');
  font-family: 'Permanent Marker', cursive;
}

.nav {
  margin-bottom: 10px;
  padding: 5px;
  background-color: hsla(210, 34%, 18%, 0.33);
}

.navbar-header {
  float: right;
}

#loginBar {
  margin: 0 auto;
  width: 600px;
}

.logo {
  float: right;
}

#omebe-logo {
  width: 100px;
}

#logOutBtn {
  position:relative;
  float: left;
  left: 150px;
  margin:8px 0 0 15px;
}

#userText {
  width: 33%;
  margin: 0 auto;
  font-size: 24px;
}

h1 {
  color: white;
}

ul {
  list-style: none;
}

#drawing {
  display: block;
  overflow: scroll;
/*  height: 800px;
  width: 800px;*/
  background-color: hsl(34, 37%, 94%);
}

#sidebar {
  float: left;
  width: 33%;
  min-width: 465px;
}

#toolbox {
  padding: 10px;
  width: 95%;
  margin: 10px;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: hsla(210, 34%, 18%, 0.33);
}

#color-picker-container {
  margin: 5px;
  float: left;
}

.range-slider {
  margin: 18px;
  width: 60%;
  float: left;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(179, 0, 124, 0.74);
  cursor: pointer;
  transition: background .15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
  background: #1abc9c;
}

.range-slider__range:active::-webkit-slider-thumb {
  background: #1abc9c;
}

.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: rgba(179, 0, 124, 0.74);
  cursor: pointer;
  transition: background .15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
  background: #1abc9c;
}

.range-slider__range:active::-moz-range-thumb {
  background: #1abc9c;
}

.range-slider__value {
  display: inline-block;
  top: -20px;
  float: left;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: rgba(179, 0, 124, 0.74);
  padding: 5px 10px;
  margin-left: 85px;
}

.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid rgba(179, 0, 124, 0.74);
  border-bottom: 7px solid transparent;
  content: '';
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

.hiddenBtn {
  display: none;
}

#advert, #userPanel {
  padding: 10px;
  width: 95%;
  height: 675px;
  margin: 10px;
  float: left;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: hsla(210, 34%, 18%, 0.33);
}

#advert h1 {
  font-size: 70px;
  color: darkorange;
}

#advert-text {
  position: relative;
  background-image: url(./ok1.png);
  background-repeat: no-repeat;
  width: 95%;
  border-radius: 5px;
  margin: 10px;
  height: 350px;
  vertical-align: center;
  text-align: center;
  line-height: 5;
  font-size: 25px;
}

#ok-img {
  width: 95%;
  position: relative;
  top: -95px;
  z-index: 2;
}

#ok-img img {
  width: 95%;
  border-radius: 5px;
  margin: 20px;
}

#canvass-container {
  width:100%;
  margin: 0 auto;
}

#canvass-box {
  float: left;
}

#video-container {
  width: 25%;
  margin: 10px;
  float: left;
  padding: 10px;
}

.video-box {
  width: 398px;
  margin: 10px auto;
  height: 300px;
  background-color: black;
  border: 1px solid white;
}

.video {
  width: 396px;
}

.jscolor {
  width: 40px;
  height: 40px;
}

.btn-container{
  width: 50%;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

.colorBtn {
  margin-left: 22px;
  width: 40px;
  height: 40px;

  display: inline-block;
  *display: inline;

}
.stretch {
  width: 35%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}


.modal-content {
  /*background-image: url(../img/parchmentlightbg.jpg);*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.modal-footer {
  border: none;
}

.modal-header {
  margin-top:10px;
  border: none;
}

.modal-body {
  padding-left:15px;
}

#featuresHeader h1 {
  text-align: center;
  margin-top:80px;
}

#registrationError {
  padding: 6px;
  color: #C70000;
  font-size: 1em;
}

#registrationForm input {
  margin: 3px;
}

.list-group.panel > .list-group-item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}
.list-group-submenu {
  margin-left:20px;
}

.userBtn {
  width: 120px;
  margin: 5px;
}


.btn {
  background: linear-gradient(darkgrey, lightgrey);
  border: 0;
  border-bottom: 0;
  border-left: 0;
  box-shadow: inset 0 -3.2px rgba(0, 0, 0, 0.12), inset 2px 0 rgba(0, 0, 0, 0.1);
  outline: none;
  -webkit-outline: none;
  -o-outline: none;
  -moz-outline: none;
}

.btn:active, .btn.active {
  background: linear-gradient(lightgray, darkgrey);
  outline: none;
  -moz-outline: none;

  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  position: relative;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  top: 1px;
  left: -1px;
}

.btn:focus {
  background: linear-gradient(lightgray, darkgrey);
  outline: none;
  -webkit-outline: none;
  -moz-outline: none;
}

.btn:hover {
  background: linear-gradient(lightgray, darkgrey);
}

.btn-sm {
  padding-top: 1.5px;
}